<div class='container'> 
    <h4 style='text-align: center'>Add Your Article Today!</h4>
    <div class="card wow fadeInRight login-card">
        <div class="card-block">

            <%= form_for @article, class: 'mg-form' do |f| %>
                <%= f.text_field :link, placeholder: 'article link' %>
                <%= f.text_field :category, placeholder: 'Category type' %>
                <%= f.submit "Submit",class: "btn btn-primary btn-lg warning-color" %>
            <% end %>

        </div>
    </div>
</div>