<!--Section: Testimonials-->
        <section id="testimonials">
            <div class="row">

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item wow fadeIn" data-ride="carousel">

                    <!--Controls-->
                    <div class="controls-top">
                        <a class="btn-floating btn-small mdb-color" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="btn-floating btn-small mdb-color" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                    <!--/.Controls-->

                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example" data-slide-to="1"></li>
                        <li data-target="#multi-item-example" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->

                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">

                            <div class="col-md-4">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up green lighten-1">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-1.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                            <div class="col-md-4 hidden-sm-down">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up green darken-2">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                            <div class="col-md-4 hidden-sm-down">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up  green darken-4">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-3.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">

                            <div class="col-md-4">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up blue lighten-1">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-1.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                            <div class="col-md-4 hidden-sm-down">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up blue darken-2">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-2.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                            <div class="col-md-4 hidden-sm-down">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up blue darken-4">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-3.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                        </div>
                        <!--/.Second slide-->

                        <!--Third slide-->
                        <div class="carousel-item">

                            <div class="col-md-4">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up indigo lighten-1">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-3.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                            <div class="col-md-4 hidden-sm-down">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up indigo darken-1">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-1.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                            <div class="col-md-4 hidden-sm-down">
                                <!--Card-->
                                <div class="card testimonial-card">

                                    <!--Bacground color-->
                                    <div class="card-up indigo darken-4">
                                    </div>

                                    <!--Avatar-->
                                    <div class="avatar"><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-2.jpg" class="img-circle img-responsive">
                                    </div>

                                    <div class="card-block">
                                        <!--Name-->
                                        <h4 class="card-title">Anna Doe</h4>
                                        <hr>
                                        <!--Quotation-->
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                                    </div>

                                </div>
                                <!--/.Card-->
                            </div>

                        </div>
                        <!--/.Third slide-->

                    </div>
                    <!--/.Slides-->

                </div>
                <!--/.Carousel Wrapper-->

            </div>
        </section>
        <!--/Section: Testimonials-->