<!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">
        <div class="container">
            <!--Links-->
            <a class="navbar-brand purple-text" href="/">Autism Talks</a>
            <ul class="nav navbar-nav">
                <li>
                <% if session[:user_id] %>
                    <li><%= link_to 'Logout', :logout, class: 'green-text'%></li>
                    <li><%= link_to 'Profile', @user, class: 'yellow-text'%></li>
                <% else %>
                    <li><%= link_to 'Log In Now!', :login, class: 'blue-text' %></li>
                    <li><%= link_to 'Sign Up Now!', :new_user, class: 'purple-text' %></li>
                <% end %>

                </li>
            </ul>
            <!--Search form-->
            <form class="form-inline float-xs-right">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </nav>
    <!--/.Navbar-->