<!--Footer-->
<footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <div class='col-md-3 about'>
          <h4>About Autism Talks</h4>
          <p>Autism Talks is a website for allies of those with autism</p>
          <p>and who wish to find and share useful information they have found about autism.</p>
          <p>This is a site made to help inform the families and friends.</p>
          <p>I hope you make find the information shared useful and enjoy your time!</p>
          <br>
      </div>
        
      <div class="col-md-3 useful-links">
          <h5>More Useful Links</h5>
          <ul>
            <li><a href="https://www.autismspeaks.org/">Autism Speaks</a></li>
            <li><a href="http://www.educateautism.com/">Educate Autism</a></li>
            <li><a href="http://www.autismgames.com.au/">Autism Games</a></li>
            <li><a href="http://www.missiontolearn.com/autistic-student-resources-games/">Mission To Learn</a></li>
          </ul>
      </div>

      <div class="col-md-3 links">
          <h5 class="title">Links To Developer</h5>
          <a type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
          <a type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
          <a type="button" class="btn-floating btn-large btn-git"><i class="fa fa-github"></i></a>
      </div>
      <br>
    </div>
    <!--/.Footer Links-->
</footer>
<!--/.Footer-->
