<!--Footer-->
<footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <div class='col-md-3 about'>

        <div class="divider-new">
          <h4>About Autism Talks</h4>
        </div>

          <p>Autism Talks is a website for allies of those with autism and who 
          wish to find and share useful information they have found about autism.</p>
          <p>This is a site made to help inform the families and friends so they
           may inform themselves to help the people they love that are autistic.</p>
          <p>I hope you make find the information shared useful and enjoy your time!</p>
          <br>
      </div>
        
      <div class="col-md-3 useful-links">

        <div class="divider-new">
          <h5>More Useful Links</h5>
        </div>

          <ul>
            <li><a class='orange-text' href="https://www.autismspeaks.org/">Autism Speaks</a></li>
            <li><a class='red-text' href="http://www.educateautism.com/">Educate Autism</a></li>
            <li><a class='yellow-text' href="http://www.autismgames.com.au/">Autism Games</a></li>
            <li><a class='purple-text' href="http://www.missiontolearn.com/autistic-student-resources-games/">Mission To Learn</a></li>
          </ul>
      </div>

      <div class="col-md-3 links">

        <div class="divider-new">
          <h5 class="title">Contact Us</h5>
        </div>

          <a href="https://www.facebook.com/collin.shelby" type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/collin-shelby/" type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/collinL34" type="button" class="btn-floating btn-large btn-git"><i class="fa fa-github"></i></a>
      </div>
      <br>
    </div>
  </div>
    <!--/.Footer Links-->
</footer>
<!--/.Footer-->
