<div class="container">
    <hr class="footer-break">
</div>
<footer class="page-footer center-on-small-only">
    <div class="container-fluid">
        <div class="row">
            <div class="footer-links">
                <ul>
                    <a href="https://www.facebook.com/collin.shelby" type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/collin-shelby/" type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/collinL34" type="button" class="btn-floating btn-large btn-git"><i class="fa fa-github"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid black-text">
            Copyright © 2017 Autism Talks. All Rights Reserved.
        </div>
    </div>
</footer>
