<!--First column-->
<div class="col-lg-6">
    <div class="description">
        <h2 class="orange-text h2-responsive wow fadeInLeft">Welcome to Autism Talks</h2>
        <hr class="hr-dark">
        <p class="wow fadeInLeft red-text" data-wow-delay="0.4s" style='font-size: 17px;'>This is a site that was made to help inform the families and friends so they may inform themselves to help the people they love that are autistic.</p>
        <br>
        <a href='#best-features' class="btn btn-primary wow fadeInLeft" data-wow-delay="0.7s">Learn more</a>
    </div>
</div>
<!--/.First column-->
<div class="col-lg-6 categ-card">
  <div class='card'>
    <% if !@category.nil? %>
      <% if @category.name != 'Category'%>
    
          <ul>
            <% @category.articles.each do |article| %>
              <li class='article-link'><a href='<%= article.link %>' class='amber-text'><%= article.title %></a></li>
            <%end %>
          </ul>
      <%end%>
    <% end %>
  </div>
</div>
