<!--Main container-->
<div class="container">

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">Learn</h2>
    </div>
    
    <!--Section: Best features-->
    <section id="best-features">
        <div class="row">
            
            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade learn-cards wider">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://upload.wikimedia.org/wikipedia/en/3/31/Autism_Speaks_Logo.jpg" class="img-fluid learn-image">
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-block text-xs-center">
                        <!--Title-->
                        <h4 class="card-title green-text"><strong><a href='https://www.autismspeaks.org/'>Autism Speaks</a></strong></h4>

                        <p class="card-text">Autism Speaks is an autism advocacy organization in the United States that sponsors autism research and conducts awareness and outreach activities aimed at families, governments, and the public.</p>

                        <!--Dribbble-->
                        <div id='icons-list'>
                            <a href='https://twitter.com/autismspeaks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor' class="btn-floating btn-large btn-tw"><i class="fa fa-twitter"> </i></a>
                            <a type="button" href='https://www.facebook.com/autismspeaks/' class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
                            <a type="button" href='mailto:familyservices@autismspeaks.org' class="btn-floating btn-large btn-email"><i class="fa fa-envelope"></i></a>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4">


                <!--Card-->
                <div class="card card-cascade learn-cards narrower">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://www.autismspeaks.org/sites/default/files/images/zales/science-685-x-385.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-xs-center autism-research">
                        <!--Title-->
                        <h4 class="card-title green-text"><strong><a href='https://www.autismspeaks.org/node/314251'>Autism Speaks Research</a></strong></h4>

                        <p class="card-text">The Autism Speaks research program is dedicating to enhancing lives today and accelerating a spectrum of solutions for tomorrow. We do this by supporting pioneering research with real-world benefits, including specialized health care through our Autism Treatment Network . . .</p>

                    </div>
                    <!--/.Card content-->


                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade learn-cards">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://yt3.ggpht.com/-zGkxv4fU6jg/AAAAAAAAAAI/AAAAAAAAAAA/9EJSuOGQseA/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <div class="card-block text-xs-center">
                        <!--Title-->
                        <h4 class="card-title"><a class='orange-text' href='http://www.autism-society.org/'>Autism Society</a></h4>

                        <p class="card-text">The Autism Society, the nation’s leading grassroots autism organization, exists to improve the lives of all affected by autism. We do this by increasing public awareness about the day-to-day issues faced by people on the spectrum, advocating for appropriate services for individuals across the lifespan . . .</p>

                        <!--Dribbble-->
                        <div id='icons-list' class='autism-society'>
                            <a href='https://twitter.com/autismsociety' class="btn-floating btn-large btn-tw"><i class="fa fa-twitter"> </i></a>
                            <a type="button" href='https://www.facebook.com/AutismSociety/' class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
                            <a type="button" href='mailto:info@autism-society.org' class="btn-floating btn-large btn-email"><i class="fa fa-envelope"></i></a>
                        </div>

                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->

            </div>

    </section>
    <!--/Section: Best features-->

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">About Autism</h2>
    </div>

    <!--Section: Additional features-->
    <section id="additional-features">

        <div class="row">
            <!--First columnn-->
            <div class="col-md-6">
                <p class='about-aut'>Autism, or autism spectrum disorder, refers to a range of conditions characterized by challenges with social skills, repetitive behaviors, speech and nonverbal communication, as well as by unique strengths and differences. We now know that there is not one autism but many types, caused by different combinations of genetic and environmental influences.</p>

                <p class='about-aut'>The term “spectrum” reflects the wide variation in challenges and strengths possessed by each person with autism.</p>

                <p class='about-aut'>Autism’s most-obvious signs tend to appear between 2 and 3 years of age. In some cases, it can be diagnosed as early as 18 months. Some developmental delays associated with autism can be identified and addressed even earlier. Autism Speaks urges parents with concerns to seek     evaluation without delay, as early intervention can improve outcomes.</p>
            </div>
            <!--First columnn-->

            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?dpr=2&auto=format&fit=crop&w=1500&h=1120&q=80&cs=tinysrgb&crop=" class="about-image">
            </div>
        </div>
    </section>
    <!--/Section: Additional features-->

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">Articles</h2>
    </div>

    <!--Section: Testimonials-->
    <section id="testimonials">
        <div class="row">
            <%= render :partial => 'articles' %>
            <% if session[:user_id]%>
                <p><%= link_to 'Add an Article!', new_article_path, class: 'btn btn-warning article-link'%></p>
            <% end %>
        </div>
    </section>
    <!--/Section: Testimonials-->
    <br>

</div>
<!--/Main container-->