 <!--Main container-->
    <div class="container">
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInDown">Best Features</h2>
        </div>
        <!--Section: Best features-->
        <section id="best-features">
            <div class="row">
                <!--First columnn-->
                <div class="col-md-4">
                </div>
                <!--First columnn-->
                <!--Second columnn-->
                <div class="col-md-4">
                </div>
                <!--Second columnn-->
                <!--Third columnn-->
                <div class="col-md-4">
                </div>
                <!--Third columnn-->
            </div>
        </section>
        <!--/Section: Best features-->
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInDown">Additional Features</h2>
        </div>
        <!--Section: Additional features-->
        <section id="additional-features">
            <div class="row">
                <!--First columnn-->
                <div class="col-md-6">
                </div>
                <!--First columnn-->
                <!--Second column-->
                <div class="col-md-6">
                </div>
                <!--/Second column-->
            </div>
        </section>
        <!--/Section: Additional features-->
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInDown">Examples of use</h2>
        </div>
        <!--Section: Examples of use-->
        <section id="examples-of-use">
            <div class="row">
                <!--First column-->
                <div class="col-md-5 wow fadeIn">
                </div>
                <!--/First column-->
                <!--Second column-->
                <div class="col-md-7">
                </div>
                <!--/Second column-->
            </div>
        </section>
        <!--/Section: Examples of use-->
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInDown">Testimonials</h2>
        </div>
        <!--Section: Testimonials-->
        <section id="testimonials">
            <div class="row">
            </div>
        </section>
        <!--/Section: Testimonials-->
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInDown">Pricing</h2>
        </div>
        <!--Section: Pricing-->
        <section id="pricing">
            <div class="row">
                <!--First column-->
                <div class="col-md-4">
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-md-4">
                </div>
                <!--/.Second column-->
                <!--Third column-->
                <div class="col-md-4">
                </div>
                <!--/.Third column-->
            </div>
        </section>
        <!--/Section: Pricing-->
        <div class="divider-new">
            <h2 class="h2-responsive">Contact us</h2>
        </div>
        <!--Section: Contact-->
        <section id="contact">
            <div class="row">
                <!--First column-->
                <div class="col-md-8">
                </div>
                <!--/First column-->
                <!--Second column-->
                <div class="col-md-4">
                </div>
                <!--/Second column-->
            </div>
        </section>
        <!--Section: Contact-->
    </div>
    <!--/Main container-->