<!--Main container-->
<div class="container">

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">Learn</h2>
    </div>

    <!--Section: Best features-->
    <section id="best-features">
        <div class="row">
            
            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade wider">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2813%29.jpg" class="img-fluid">
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-block text-xs-center">
                        <!--Title-->
                        <h4 class="card-title green-text"><strong>Autism Speaks</strong></h4>
                        <h5>Photographer</h5>

                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>

                        <!--Dribbble-->
                        <div id='icons-list'>
                            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <!--Google +-->
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <!--Instagram-->
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2840%29.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <h5 class="red-text"><i class="fa fa-money"></i> Business</h5>
                        <!--Title-->
                        <h4 class="card-title">Let your startup grow!</h4>
                        <!--Text-->
                        <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                        <a class="btn btn-primary">Button</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-xs-center">
                        <!--Title-->
                        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                        <h5>Web developer</h5>

                        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                        </p>

                        <!--Facebook-->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a type="button" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"></i></a>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

    </section>
    <!--/Section: Best features-->

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">Additional Features</h2>
    </div>

    <!--Section: Additional features-->
    <section id="additional-features">
        <div class="row">
            <!--First columnn-->
            <div class="col-md-6">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat nec nulla a volutpat. Cras sollicitudin, odio vel mattis mattis, neque ex dapibus nisi, at congue nulla elit vel lectus. In a auctor ante, in tempor odio. Cras consequat dignissim nisl, eu lacinia quam venenatis quis. Quisque eu arcu eu erat volutpat luctus. Aenean ullamcorper viverra nulla faucibus tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Aenean ante lectus, tristique quis tellus at, ultricies pellentesque felis. Quisque eget vestibulum purus.</p>

                <p>Integer et efficitur orci. Duis eu tellus vitae tortor imperdiet auctor nec tempor eros. Suspendisse potenti. Morbi at erat volutpat velit porttitor fringilla nec sit amet tellus. Aenean purus neque, vestibulum a pulvinar id, interdum eget mi. Curabitur at iaculis ex, eu tempus tortor. Quisque finibus accumsan iaculis. Nulla tincidunt lectus mauris, ut congue lacus convallis id. Proin bibendum neque fringilla tortor condimentum, vitae feugiat erat laoreet. Integer nec semper libero. Suspendisse dapibus pellentesque eleifend. </p>
            </div>
            <!--First columnn-->
        </div>
    </section>
    <!--/Section: Additional features-->

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeInDown">Testimonials</h2>
    </div>

    <!--Section: Testimonials-->
    <section id="testimonials">
        <div class="row">
        <%= render :partial => 'articles' %>
        </div>
    </section>
    <!--/Section: Testimonials-->

    <div class="divider-new">
        <h2 class="h2-responsive">Contact us</h2>
    </div>

</div>
<!--/Main container-->