<%= render :partial => 'navbar' %>
    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row" id="home">
                    <!--First column-->
                    <div class="col-lg-6">
                    </div>
                    <!--/.First column-->
                    <!--Second column-->
                    <div class="col-lg-6">
                    </div>
                    <!--/Second column-->
                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->
   <%= render :partial => 'maincontent'%>
   <%= render :partial => 'footer'%>