<%= render :partial => 'navbar' %>

<!--Mask-->
<div class="view hm-black-strong">
  <div class="full-bg-img flex-center shit">
      <div class="container">
          <%= render :partial =>'learn_center'%>
      </div>
  </div>
</div>
<!--/.Mask-->

<%= render :partial => 'maincontent'%>
<%= render :partial => 'home/footer' %>