<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %></h3>
    <p>Thanks for signing up I hope you will enjoy the site!!</p>
  </body>
</html>
