html,
body,

.view {
    height: 100%;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.navbar {
    background-color: transparent;
    text-align: right;
}

.top-nav-collapse {
    background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.fa-check {
    color: green;
}

.full-bg-img {
    position: absolute;
}

.full-bg-img,
.view .content,
.view .mask {
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.view {
    background: url("https://images.unsplash.com/photo-1481679115566-7aeae7543b52?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-block {
    padding: 1.25rem;
    height: 330px;
}

.new-card {
    position: relative;
    margin-top: 50px;
    height: 5000px;
}

.new-card .form-control {
    font-size: 15px;
}

.card img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card img,
.img-fluid,
.section .view,
.section img {
    display: block;
    max-width: 100%;
    height: auto;
}

.full-bg-img {
    position: absolute;
}

.full-bg-img,
.view .content,
.view .mask {
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#icons-list {
    padding-top: 40px;
}

.home-card {
    height: 200px;
    width: 220px;
    margin-top: 200px;
    margin-left: 200px;
    border-radius: 10px;
    text-align: center;
}

.home-card p {
    background-color: #ff4444;
}

.home-card button {
    margin-top: 70px;
}

.new-form {
    text-align: center;
}

.avatar .profile {
    text-align: center;
    border-radius: 50%;
    margin-left: 460px;
    width: 220px;
    height: 220px;
}

.testimonial-card {
    text-align: center;
    height: 1600px;
}

.carousel-item .testimonial-card {
    height: 200px;
}

.login-card {
    height: 300px;
}

#articles-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align: center;
}

#articles-carousel img {
    margin-left: 460px;
    width: 200px;
    height: auto;
}

#articles-carousel .card {
    height: 140px;
}

#friends-carousel #indicators {
    margin-left: 10px;
    margin-bottom: -20px;
}

#articles-carousel #indicators {
    margin-left: 10px;
    margin-bottom: -20px;
}


#indicators {
    margin-left: 200px;
    bottom: -10px;
}

#friend-img {
    margin-left: 450px;
    width: 200px;
    border-radius: 50%;
    height: 200px;
}

.page-footer .row {
    margin-left: 200px;
}

.page-footer {
    left: 0;
    right: 0;
    width: 100%;
}

.useful-links {
    margin-left: 30px;
    text-align: center;
}

.links {
    text-align: center;
}

.categ-card .card {
    background-color: #3F729B;
    margin-top: 200px;
    border-radius: 10%;
    width: 300px;
    text-align: center;
}

.article-link {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#testimonials .article-link {
    margin-left: 530px;
}

#search {
    width: 200px;
    font-size: 15px;
}

.carder {
    text-align: center;
    width: 550px;
    height: 380px;
    margin-left: 300px;
}

.carder img {
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 100px;
    width: 300px;
    height: auto;
}

#indicators {
    padding-left: 290px;
}

.image-links {
    text-align: center;
}

.about-image {
    width: 500px;
    border-radius: 10px;
    height: auto;
}

.learn-cards p {
    font-size: 15px;
}

.learn-cards img {
    width: 800px;
    height: 200px;
}

.autism-society {
    margin-top: -50px;
}

.autism-res-links {
    margin-top: -50px;
}

.about-aut {
    font-size: 15px;
}

.about p {
    font-size: 15px;
}

#articles .card {
    height: 350px;
    text-align: center;
}

#articles img {
    margin-top: 30px
}

.art-author {
    margin-left: -50px;
}









