html,
body,
.view {
    height: 100%;
}
.full-bg-img {
    position: absolute;
}
.full-bg-img, .view .content, .view .mask {
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.view {
    background: url("https://images.unsplash.com/photo-1481679115566-7aeae7543b52?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.card-block {
    padding: 1.25rem;
}

.card {
    position: relative;
    margin-top: 100px;
    height: 680px;
}




